# Statistic in python

Book [from](https://onlinestatbook.com/Online_Statistics_Education.pdf)

## Percentile

\begin{align}
        R= P/100 *(N+1)
\end{align}

$$ 
P:  percentile (25) \\
N : Total data
$$

In [1]:
import pandas as pd

## Excercise

In [2]:
data={
    "Number":[3,5,7,8,9,11,13,15],
    "Rank":[1,2,3,4,5,6,7,8]
}

In [3]:
data=pd.DataFrame(data)

In [4]:
def percentile_formula(percentile=0,N=0):
  R=percentile/100*(N+1)
  return R

In [5]:
print(f'Percentile 25 dari data :{percentile_formula(percentile=25,N=len(data["Rank"]))}')

Percentile 25 dari data :2.25

#Levels of Measurement

* ``Nominal Scales`` is Categorical
* ``Ordinal scales`` like rating reviews
* ``Interval scales`` like temperature $15-20^c $
* ``Ratio scales`` like interval scale but with additional property example (25 cents, 55 cents, etc.)

# Summation Notation

\begin{align}
        &\sum_{i=1}^n X^i 
\end{align}

In [15]:
data_summa_notation={
    "Grape":[v for v in range(1,5)],
    "X":[4.6,5.1,4.9,4.4]
}

In [16]:
data_summa_notation

{'Grape': [1, 2, 3, 4], 'X': [4.6, 5.1, 4.9, 4.4]}

In [17]:
data_summa_not=pd.DataFrame(data_summa_notation)

In [19]:
data_summa_not.head()

   Grape    X
0      1  4.6
1      2  5.1
2      3  4.9
3      4  4.4

## Excercise

\begin{align}
  &\text {Do it in python} : 
        &\sum_{i=1}^4 X^i \\
\end{align}

In [28]:
def summa_not(df):
  result=sum(df)
  return result

In [29]:
summa_not(data_summa_not["X"])

19.0

\begin{align}
  &\text {Do it in python} : 
        &\sum X^2 \\
\end{align}

In [31]:
def summa_not_power_basis_two(df):
  result=sum(df**2)
  return result

In [32]:
summa_not_power_basis_two(data_summa_not["X"])

90.54